body{
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 14px;
}
.dropdown-menu-item{
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
}
.dropdown-menu-label{
    width: fit-content;
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0px 8px 0px 8px;
    border-radius: 5px;
    margin-bottom: -5px;
    text-decoration: underline;
    color: blue;
    background: none;
}
.dropdown-menu-label::after, .submenu::after {
    content: ''; 
    display: block;
    opacity: 0; 
    position: absolute; 
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    z-index: -5; 
    box-shadow: 0px 0px 5px 0px  gray;
   }
   .dropdown-menu-label::after{
       bottom: 5px;
       border-radius: 5px;
   }
.dropdown-menu-label:hover{
    background: white;
}
.dropdown-menu-item:hover>.dropdown-menu-label  {
    color: black;
    text-decoration: none;
    background-color: white;
}
.dropdown-menu-item:hover>.dropdown-menu-label::after{
    opacity: 1;
}

.dropdown-menu-label:hover+.submenu {
    display: block;
    opacity: 1;
}
.dropdown-menu-label:hover.dropdown-menu-label::after,
.dropdown-menu-label:hover+.submenu::after{
    opacity: 1;
} 
.submenu {
    background: white;
    color: blue;
    position: absolute;
    list-style: none;
    width: 130px;
    padding: 0;
    opacity: 0; 
    display: none;
}
.submenu:hover {
    opacity: 1; 
    display: block;
}
.submenu:hover::after{
    opacity: 1;
}
/*.submenu:hover+.dropdown-menu-label {
    color: black;
    text-decoration: none;
}*/
.submenu li {
    padding: 5px;
    margin: 3px;
    vertical-align: middle;
}
.submenu li:hover {
    background-color: rgb(59, 160, 255);
    color: white;
}