@using Task6.InversionOfControl;
@using Task6.Entities;
@using Task6.Interfaces

@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    Page.Title = "WEB UI";
}

<h1>Task 10. ASP.NET WEB PAGES</h1>
<div class="Description">
    This is a demontration of 3-tier architecture. It allows to operate with users and awards
    which are contained in .json files in the program's environment directory (@Environment.CurrentDirectory\). Users have
    a name and date of birth, and awards have a title. To see all available commands press "help" button.
</div>
<button id="helpButton">help</button>
<div style="display:none" id="roleWrapper">
    @if (!User.Identity.IsAuthenticated)
    {
        @:guest
    }
    else if (User.IsInRole("admin"))
    {
        @:admin
    }
    else if (User.IsInRole("user"))
    {
        @:user
    }
</div>
<div style="display:none" id="username">
    @if (!User.Identity.IsAuthenticated)
    {
        @: guest
    }
    else {
        @: @User.Identity.Name
    }
</div>
<div id="helpMessageBox"></div>

<script src="~/Scripts/jquery-3.0.0.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<script src="~/MyScripts/help.js"></script>
